.projects {
  margin-top: 150px;
}

.my-projects ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 120px;
  gap: 20px;
}

.my-projects-inner {
  list-style-type: none;

  & a {
    display: inline-block;
    text-decoration: none;
  }
}

.my-projects-inner a img {
  width: 360px;
  height: 250px;
}

.my-projects-inner a:hover {
  border-bottom: 2px solid rgb(74, 70, 70);
  transition: 0.3s ease;
  opacity: 0.5;
}

.my-projects__name {
  text-align: center;
  width: 25%;
  position: absolute;
  margin-top: -180px;
  font-size: 26px;
  opacity: 0;
}

.my-projects-inner a h4:hover {
  opacity: 1;
  text-align: center;
  width: 25%;
  position: absolute;
  margin-top: -200px;
  color: red;
  font-size: 30px;
}
