.section {
  margin-top: 60px;
}

.section__inner h1 {
  font-size: 50px;
  font-weight: 400;
  opacity: 0.7;
  margin-bottom: 80px;
}

.section__inner img {
  border-radius: 75px 2px 75px;
}

.section__inner {
  text-align: center;
}
